@model Penetration_Testing_Hub.Models.StageTechnique_Reconnaissance_Tool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StageTechnique_Reconnaissance_Tool</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
